<%- include("includes/header", { title: "Blog" }) %>

<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <h2 class="text-center">Blog</h2>
    <p class="text-center">Stay updated with the latest news, tips, and tutorials.</p>
    <img src="<%= request.mainURL %>/public/img/blur-blog.png" style="width: 100%; max-width:600px; display:block; margin:auto;" />
</div>

<%- include("includes/footer") %>
